:root{
    --laranja-claro: #FFCC2F;
    --laranja: #FFB51B;
    --verde-escuro:#807B3E;
}
@font-face {
    font-family: 'Hammersmith';
    src: url(../media/font/HammersmithOne-Regular.ttf);
}
@font-face {
    font-family: 'Alata';
    src: url(../media/font/Alata-Regular.ttf);
}
html, body{
    height: 100%;
}
body{
    background-color: #Ffff;
    scroll-behavior: smooth ;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Inicio Header */
nav{
    
}
header,nav{
    width: 100vw;
    height: 10vh;
    
}
header{
    background-color: white;
    fill: var(--Amarelo-fundo-do-site, #FEFCDD);
    filter: drop-shadow(0px 4px 17.2px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: -200px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 50px;
    
}
li{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
li > a{
    text-transform: uppercase;
}
.cadastrar{
    color: var(--laranja);
}
.entrar{
    color: var(--verde-escuro);
}
a{
    font-family: 'Alata';
    font-weight: 400;
    font-size: 20px;
}
.entrar-li{
    gap: 20px;
    display: flex;
}
/* Fim Header*/ 

/* Inicio Info*/
.inicio-icap{
    width: 100vw;
    height: 85%;
    background-color: var(--laranja-claro);
    border-radius: 0 0 50% 50%;
    display: flex;
    justify-content: center;
    align-items: top;
    box-shadow: 0px 13px 28.3px 0px rgba(0, 0, 0, 0.25);
    
}
.main-banner{
    width: 900px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-inline: -200px;
}
 aside > h1{
    font-family: 'Hammersmith';
    font-size: 40px;
    width: 400px;
    
}
aside > h2{
    font-family: 'Alata';
    font-size: 30px;
    width: 400px;
}
.botao-cadastrar{
    text-transform: uppercase;
    font-family: "Hammersmith";
    background-color: white;
    width: 250px;
    text-align: center;
    padding-inline: 40px;
    padding-block: 10px;
    border-radius: 50px;
    color: var(--laranja);
    box-shadow: rgba(0, 0, 0, 0.247) -11px 6px 14px;
}
.aside-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 40px;
}
.aside-imagem{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside > h1, aside > h2, aside > a {
    color: white;
}
aside > img{
    margin-bottom: -100px;
}
.arrow-down{
    position: absolute;
    bottom: 50px;
}
/* Inicio Sobre*/
.sobre-icap{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.artigo-sobre{
    margin-inline: -200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info-sobre{
    font-family: "Alata";
    font-size: 35px;
    color: var(--verde-escuro);
}
.info-ferramentas{
    font-family: "Alata";
    font-size: 40px;
    color: var(--verde-escuro);
}
.artigo-ferramentas{
    
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.texto-left > h2, .texto-agua > h2{
 font-family: "Alata";
 color: var(--laranja-claro);
}
.texto-left > h3, .texto-agua > h3{
    font-family: "Alata";
    color: var(--verde-escuro);
}
.div-conteudo-left{
    width: 520px;
    margin-top: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-left{
    margin-left: 20px;
}
.div-sugestoes{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
}
.texto-agua > h3{
    width: 250px;
}
.secao-auxiliar{
    margin-inline: -200px;
}